.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(1015);
    padding-left: rem(15);
    padding-right: rem(15);
    position: relative;

    @include r(992) {
        padding-left: rem(20);
        padding-right: rem(20);
    }
}