.input {
  display: block;
  background-color: #32407B;
  border-radius: 2px;
  padding: rem(12);
  max-height: rem(38);
  width: 100%;

  @include r(700) {
    background-color: #F1F1FA;
  }

  &::placeholder {
    color: #848CAA;
    font-size: rem(12);

    @include r(700) {
      font-size: rem(16);
    }
  }

}

input[type=checkbox] {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #848CAA;
  border-radius: 2px;
  padding: 0;
  width: rem(16);
  height: rem(16);
  flex-shrink: 0;
  transition: all .3s ease-in-out;
}

input[type=checkbox]:checked {
  background-image: url('../assets/images/icon-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-color: #FFFFFF;
}

input [type=file] {
  display: none !important;
  visibility: hidden !important;
}